[alias]
    amend = commit --amend
    b = branch
    r = remote -v
    last = log -1
    woops = reset --hard HEAD~1
    s = status
[user]
	name = tnoff
	email = 1326564+tnoff@users.noreply.github.com
[core]
	editor = vim
	filemode = false
[gitreview]
    username = tnoff
[diff]
    tool = vimdiff
