[Desktop Entry]
Name=Shifter Script
GenericName=Wallpaper shifter
Comment=Wallpaper shifter
Exec=/home/tnorth/.envs/master/bin/python /home/tnorth/.custom-scripts/shifter.py &
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
