[Desktop Entry]
Name=Shifter Script
GenericName=Wallpaper shifter
Comment=Wallpaper shifter
Exec=/home/tnorth/.envs/main/bin/python /home/tnorth/.custom-scripts/background_shifter.py &
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
